<div>
    <form method="post">
        <input type="hidden" name="client_id" value="<%=clientId%>">
        <input type="hidden" name="redirect_uri" value="<%=redirectUri%>">
        <div>
            Do you want to allow <em><%= clientName %></em> to access your account?
        </div>
        <input type="submit" name="allow" value="yes"/>
        <input type="submit" name="allow" value="no"/>
    </form>
</div>